<main class="main-content">
    <div class="content-container">

        <h1 class="text-3xl font-bold mb-6">Картины</h1>
        <div
                id="artworks-list"
                class="grid grid-3"
                style="margin-top: 2rem"
        ></div>
        <p id="no-artworks-message" class="text-center text-gray-600 mt-8" style="display:none;">
            Нет картин в базе.
        </p>
    </div>
</main>

<script src="/js/artworks.js"></script>
