<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Художественная галерея</h5>
        <p>Ваш проводник в мир искусства</p>
      </div>
      <div class="col-md-4">
        <h5>Контакты</h5>
        <p>Email: info@gallery.ru</p>
        <p>Телефон: +7 (999) 123-45-67</p>
      </div>
      <div class="col-md-4">
        <h5>Мы в соцсетях</h5>
        <div class="social-links">
          <a href="#" class="text-dark me-2">VK</a>
          <a href="#" class="text-dark me-2">Telegram</a>
          <a href="#" class="text-dark">Instagram</a>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <p>
        &copy; <%= new Date().getFullYear() %> Художественная галерея. Все права
        защищены.
      </p>
    </div>
  </div>
</footer>
