<div class="content-container">
  <h1 style="margin-bottom: 2rem">Панель администратора</h1>

  <div class="grid grid-3">
    <div class="card">
      <div class="card-body">
        <a href="/admin/users" class="btn btn-primary"
          >Управление пользователями</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/authors" class="btn btn-primary">Управление авторами</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/styles" class="btn btn-primary"
          >Управление художественными стилями</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/genres" class="btn btn-primary"
          >Управление художественными жанрами</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/exhibitions" class="btn btn-primary"
          >Управление выставками</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/artworks" class="btn btn-primary"
          >Управление произведениями искусства</a
        >
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <a href="/admin/tickets" class="btn btn-primary">Управление билетами</a>
      </div>
    </div>
  </div>
</div>
